// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header, .new-post {
  width: 52.666666666666%;
  margin: 0 auto;
  text-align: center
}

header, h1 {
  font-family: 'Roboto', sans-serif;
}

.new-post {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.new-post a, {
  padding: 6px;
  border-radius: 3px;
}

.posts {
  width: 52.666666666666%;
  margin: 0 auto;
}

.posts header {
  width: 100%;
  margin: 0;
  text-align: left;
}

.posts header h1 a {
  width: auto;
  padding: 0 5px;
  border-radius: 3px;
}

.post {
  padding: 0 0 15px 10px;
  border: 1px #CCC solid;
  border-radius: 5px;
  margin-bottom: 10px
}

.post footer a {
  padding: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.new-post a, .post footer a, .post header h1 a {
  text-decoration: none;
  transition: background 1.5s;
  -webkit-transition: background 1.5s;
}

.new-post a:hover, .post footer a:hover, .post header h1 a:hover {
  background: #CCC;
}

.post p {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 5px;
}

.post-title {
  font-size: 35px;
}

.post-header .post-title {
  margin: 15px 0;
  text-align: center;
}

.comments h4 {
  width: 35%;
  display: inline-block;
  margin: 3%;
  font-family: 'Roboto', sans-serif;
}

.comment-count {
  display: inline-block;
  margin-left: 40%;
}

#comment_user {
  display: inline-block;
  margin-left: 3%;
  height: 25px;
  font-size: 18px;
  border-radius: 5px;
}

#comment_body {
  display: inline-block;
  width: 94%;
  height: 50px;
  margin: 2% 0 2% 3%;
  font-size: 20px;
  border-radius: 5px;
  border: 1px #CCC solid;
}

.submit-button {
  margin-left: 3%;
  height: 40px;
}

.post-comments {
  font-family: 'Roboto', sans-serif;
}

.post-comments h5 {
  width: 94%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment {
  border: 1px #CCC solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment h5 {
  font-size: 20px;
  margin: 3px;
}

.comment p, .comment a {
  margin: 3px;
}

.comment a {
  color: rgb(85, 26, 139);
  
}